{{ define "main" }}
  {{ partial "breadcrumbs-as-category.html" . }}

  <section class="section">
    <div class="section__content">
      {{ .Content}}
    </div>
  </section>

  {{ $termPages := where .Pages "Kind" "term" }}
  {{ $categoryTermPages := where $termPages "Type" "categories" }}
  {{ $current := .Name }}

  {{ $childCategories := slice }}
  {{ range $categoryTermPages }}
    {{ $cats := .Params.categories }}
    {{ $found := false }}
    {{ $idx := -1 }}

    {{ range $i, $cat := $cats }}
      {{ if and (not $found) (eq $cat $current) }}
        {{ $found = true }}
        {{ $idx = $i }}
      {{ end }}
    {{ end }}

    {{ $isDirectChild := and $found (ge (add $idx 1) (len $cats)) }}
    {{ if $isDirectChild }}
      {{ $childCategories = $childCategories | append . }}
    {{ end }}
  {{ end }}

  {{ if gt (len $childCategories) 0 }}
    <section class="section">
      <div class="section__header">
        <div class="section__title">カテゴリ</div>
      </div>
      <div class="section__content">
        <ul class="pageList">
          {{ range $childCategories }}
            <li class="pageList__item">
              {{ partial "page-card.html" . }}
            </li>
          {{ end }}
        </ul>
      </div>
    </section>
  {{ end }}

  <section class="section">
    <div class="section__header">
      <div class="section__title">コース</div>
    </div>
    <div class="section__content">
      <ul class="pageList">
        {{ $termPages := where .Pages "Kind" "term"}}
        {{ $courseTermPages := where $termPages "Type" "courses"}}

        {{ range $courseTermPages }}
          <li class="pageList__item">
            {{ partial "page-card.html" . }}
          </li>
        {{ end }}
      </ul>
    </div>
  </section>

  <section class="section">
    <div class="section__header">
      <div class="section__title">記事</div>
    </div>
    <div class="section__content">
      <ul class="pageList">
        {{ $postPages := where .RegularPages "Section" "posts" }}
        {{ $sortedPostPages := sort $postPages "Lastmod" "desc" }}
        {{ range first 8 $sortedPostPages }}
        <li class="pageList__item">
          {{ partial "post-page-card.html" . }}
        </li>
        {{ end }}
      </ul>
    </div>
  </section>

{{ end }}
