{{ define "main" }}
  カテゴリのテンプレート
  <h1>{{ .Title }}</h1>

  <h2>子のカテゴリ</h2>
  <ul class="pageList">
    {{ $termPages := where .Pages "Kind" "term"}}
    {{ $categoryTermPages := where $termPages "Type" "categories"}}
    {{ $current := .Name }}

    {{ range $categoryTermPages }}
    {{ $cats := .Params.categories }}
    {{ $found := false }}
    {{ $idx := -1 }}

    {{ range $i, $cat := $cats }}
      {{ if and (not $found) (eq $cat $current) }}
        {{ $found = true }}
        {{ $idx = $i }}
      {{ end }}
    {{ end }}

    {{ $isDirectChild := and $found (ge (add $idx 1) (len $cats)) }}

    {{ if $isDirectChild }}
      <li class="pageList__item">
        {{ partial "page-card.html" . }}
      </li>
    {{ end }}
    {{ end }}
  </ul>


  <h2>コースの一覧</h2>
  <ul class="pageList">
    {{ $termPages := where .Pages "Kind" "term"}}
    {{ $courseTermPages := where $termPages "Type" "courses"}}

    {{ range $courseTermPages }}
      <li class="pageList__item">
        {{ partial "page-card.html" . }}
      </li>
    {{ end }}
  </ul>

  <h2>最近更新された記事</h2>
  <div class="topSection__content">
    <ul class="pageList">
      {{ $postPages := where .RegularPages "Section" "posts" }}
      {{ $sortedPostPages := sort $postPages "Lastmod" "desc" }}
      {{ range first 8 $sortedPostPages }}
      <li class="pageList__item">
        {{ partial "page-card.html" . }}
      </li>
      {{ end }}
    </ul>
  </div>

{{ end }}
