{{ define "main" }}
{{ partial "breadcrumbs-as-category.html" . }}
<section class="section">
  <div class="section__header">
    <h1 class="section__title">{{ .Title }}</h1>
  </div>
  <div class="section__content">
    {{ .Content }}
  </div>
</section>

<section class="section">
  <div class="section__header">
    <div class="section__title">内容</div>
  </div>
  <div class="section__content">
    {{ $regular := .Site.RegularPages }}
    {{ $taxonomyPages := slice }}
    {{ range .Site.Taxonomies.courses }}
      {{ $taxonomyPages = $taxonomyPages | append .Page }}
    {{ end }}

    {{ $allPages := union $regular $taxonomyPages }}
    {{ $matching := where $allPages "Params.courses" "intersect" (slice .Name) }}
    <ul class="courseItemList">
      {{ range sort $matching "Params.weight" }}
      <li class="courseItemList__item">
        {{ partial "course-item-card.html" . }}
      </li>
      {{ end }}
    </ul>
  </div>
</section>
{{ end }}
