<section class="section">
  <div class="section__content">
    <nav class="breadcrumbs">
      <ul class="breadcrumbs__list">
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link" href="{{ "/" | relLangURL }}">ホーム</a>
        </li>
        {{ with .Params.categories }}
          {{ range . }}
            {{ $cat := . }}
            {{ with site.GetPage (printf "/categories/%s" (urlize $cat)) }}
              <li class="breadcrumbs__item">
                <a class="breadcrumbs__link" href="{{ .RelPermalink }}">{{ .Title }}</a>
              </li>
            {{ else }}
              <li class="breadcrumbs__item">
                <span class="breadcrumbs__link">{{ $cat }}</span>
              </li>
            {{ end }}
          {{ end }}
        {{ end }}
        <li class="breadcrumbs__item breadcrumbs__item">
          <span class="breadcrumbs__link breadcrumbs__link--active">{{ .Title }}</span>
        </li>
      </ul>
    </nav>
  </div>
</section>
